@using SecureFrameworkDemo.Models;
@using Santhos.Web.Mvc.BootstrapFlashMessages;

@{
	ViewBag.Title = "Modify Order";

	var orders = ViewBag.OrderList as IEnumerable<Order>;
	var thisOrder = ViewBag.Order as Order;
}

@Html.FlashMessages(true)

<h2>@ViewBag.Title</h2>

<table>
	<tr>
		<td>Id</td>
		<td>Amount</td>
		<td>Credit Card</td>
		<td></td>
	</tr>
	@foreach (var order in orders) {
		<tr>
			<td>@order.Id</td>
			<td>$@order.Amount</td>
			<td>@order.CreditCardNumber</td>
			<td>@Html.ActionLink("modify", "ModifyOrder", "AntiCSRF", new { id = order.Id }, null)</td>
		</tr>
	}
</table>

@if (thisOrder != null) {
	<form action="@Url.Action("ModifyOrderPost", "AntiCSRF")" method="post">
		@Html.AntiForgeryToken()

		<table border="0">
			<tr>
				<td>Order Id:</td>
				<td>@thisOrder.Id</td>
			</tr>
			<tr>
				<td>Order Amount:</td>
				<td><input type="text" name="amount" value="@thisOrder.Amount" size="5" /></td>
			</tr>
			<tr>
				<td>Card Number:</td>
				<td><input type="text" name="creditCard" value="@thisOrder.CreditCardNumber" size="20" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="save changes" /></td>
			</tr>
		</table>
	</form>
}