@using SecureFrameworkDemo.Models;
@model List<SecureFrameworkOrderViewModel>
@{
	ViewBag.Title = "Order List - Secure Framework";
}

@Html.Partial("_IntraDemoNav", "OrderList")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>TODO: Access</li>
			<li>Uses row-level security to restrict uses to their own data (<i>unless they have <b>ManageOrders</b> permission</i>)</li>
			<li>Uses a PostSharp aspect to mask the SSN</li>
		</ul>
	</div>
</div>

<table class="table">
	<tr>
		<td>Id</td>
		<td>Placed On</td>
		<td>Customer</td>
		<td>Customer SSN</td>
		<td></td>
	</tr>
	@foreach (var order in Model) {
		<tr>
			<td>@order.Id</td>
			<td>@order.PlacedOn</td>
			<td>@order.UserName</td>
			<td>@order.SSN</td>
			<td>@Html.ActionLink("View Details", "OrderDetail", "SecureFramework", new { id = order.Id }, null)</td>
		</tr>
	}
</table>
