@using SecureFrameworkDemo.Models;
@model SecureFrameworkOrderViewModel
@{
    ViewBag.Title = "Order Details (Secure Framework)";
}

@Html.Partial("_IntraDemoNav", "OrderDetail")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>TODO</li>
			<li>Row level security provides access control (prevents USER1 from seeing USER2's data)</li>
			<li>PostSharp aspect masks the SSN</li>
		</ul>
	</div>
</div>

<table>
	<tr>
		<td>Order Id:</td>
		<td>@Model.Id</td>
	</tr>
	<tr>
		<td>Customer:</td>
		<td>@Model.UserName (@Model.SSN)</td>
	</tr>
</table>

<h3>Standard Form Post</h3>
<p>
	Click this button to initiate a form post. (For testing CSRF stuff)
</p>
@* NOTE: No Html.AntiForgeryToken() is needed - it's handled automatically by some JS *@
<form action="@Url.Action("ModifyOrder", "SecureFramework")" method="post">
	<input type="hidden" name="id" value="@Model.Id" />
	<input type="submit" value="Submit Form" />
</form>


<h3>Standard Form Post #2</h3>
<p>
	Testing to ensure that multiple forms on the page can both be CSRF-protected.
</p>
<form action="@Url.Action("ModifyOrder", "SecureFramework")" method="post">

	@* NOTE: No Html.AntiForgeryToken() is needed - it's handled automatically by some JS *@

	<input type="hidden" name="id" value="@Model.Id" />
	<input type="submit" value="Submit Form" />
</form>


<h3>AJAX Form Post</h3>
<p>
	Click this button to initiate an AJAX form post. (For testing CSRF stuff)
</p>
<input id="btnSubmitAjax" type="button" value="Submit AJAX" />
<script type="text/javascript">
	$(function () {
		$("#btnSubmitAjax").on("click", function () {
			$.ajax({
				url: "@Url.Action("ModifyOrderAjax", "SecureFramework")",
				type: "POST",
				// SECURE FRAMEWORK: anti-csrf stuff is handled automatically by ajaxPrefilter, no app-level code needed
				data: {
					"orderId": @Model.Id
				},
				dataType: "json",
				success: function(data) {
					alert(JSON.stringify(data));
				},
				error: function(data) {
					alert("Form post failed");
				}
			});
		});
	});
</script>
