@{
	ViewBag.Title = "Secure Feature Demo - Home";

	var ORDER_LIST_URL = Url.Action("OrderList", "SecureFeature");
	var MANAGE_ORDER_URL = Url.Action("ManageOrders", "SecureFeature");
	var ORDER_DETAIL_URL = Url.Action("OrderDetail", "SecureFeature", new { id = 1 });
}

@Html.Partial("_IntraDemoNav", "Index")

<div class="jumbotron">
	<p>This area shows a simple set of features where the security concerns are handled in application level code.</p>
	<p>Compare the code in the <b>SecureFeatureController</b> and related views to the other controllers.</p>
	<p><a class="btn btn-default" href="@ORDER_LIST_URL">Begin &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Anonymous Access</h2>
		<p>
			The <b>[Authorize]</b> attribute is added to actions or controllers that require a login. This index 
			page is the only thing accessible anonymously.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Page Authorization</h2>
		<p>
			Permission checks are done explicitly in app code. For instance, only admins should be able to
			get to the <a href="@MANAGE_ORDER_URL">Manage Orders</a> page.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Access Control</h2>
		<p>
			User level access control is done explicitly in app code. For instance, on the <a href="@ORDER_LIST_URL">Order List</a>
			and <a href="@ORDER_DETAIL_URL">Order Detail</a> pages, USER1 and USER2 should see only their own data. (Admins can see all data)
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Sensitive Data</h2>
		<p>
			App code explicitly checks whether the user is allowed to view the un-masked SSN. The ADMIN account can
			see it, the RESTRICTEDADMIN account cannot.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Encryption</h2>
		<p>
			TODO
		</p>
	</div>
	<div class="col-md-4">
		<h2>Anti-CSRF</h2>
		<p>
			The <a href="@ORDER_DETAIL_URL">Order Detail</a> page includes the standard ASPNET anti-forgery token, and the corresponding 
			MVC action validates it using the <b>[ValidateAntiForgeryToken]</b> attribute.
		</p>
	</div>
</div>