@using SecureFrameworkDemo.Models;
@model SecureFeatureOrderViewModel
@{
    ViewBag.Title = "Order Details - Secure Feature";
}

@Html.Partial("_IntraDemoNav", "OrderDetail")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>Uses [Authorize] to prevent anonymous access</li>
			<li>Controller manually performs access control (prevents USER1 from seeing USER2's data)</li>
			<li>View model manually masks the SSN</li>
		</ul>
	</div>
</div>

<table>
	<tr>
		<td>Order Id:</td>
		<td>@Model.Id</td>
	</tr>
	<tr>
		<td>Customer:</td>
		<td>@Model.UserName (@Model.SSN)</td>
	</tr>
</table>

<h3>Standard Form Post</h3>
<p>
	Click this button to initiate a form post. (For testing CSRF stuff)
</p>
<form action="@Url.Action("ModifyOrder", "SecureFeature")" method="post">

	@* Have to remember this or the form won't be protected from CSRF *@
	@Html.AntiForgeryToken()

	<input type="hidden" name="id" value="@Model.Id" />
	<input type="submit" value="Submit Form" />
</form>


<h3>Standard Form Post #2</h3>
<p>
	Testing to ensure that multiple forms on the page can both be CSRF-protected.
</p>
<form action="@Url.Action("ModifyOrder", "SecureFeature")" method="post">
	@* Have to remember this or the form won't be protected from CSRF *@
	@Html.AntiForgeryToken()

	<input type="hidden" name="id" value="@Model.Id" />
	<input type="submit" value="Submit Form" />
</form>
