@using SecureFrameworkDemo.Models;
@{
	ViewBag.Title = "Order List (Secure Feature)";

	var orders = (IList<Order>)(ViewBag.Orders);
}

<h2>@ViewBag.Title</h2>

<table class="table">
	<tr>
		<td>Id</td>
		<td>Placed On</td>
		<td>Customer</td>
		<td>Customer SSN</td>
		<td></td>
	</tr>
	@foreach (var order in orders) {
		<tr>
			<td>@order.Id</td>
			<td>@order.PlacedOn</td>
			<td>@order.ApplicationUser.UserName</td>
			<td>@order.ApplicationUser.SSN</td>
			<td>@Html.ActionLink("View Details", "OrderDetail", "SecureFeature", new { id = order.Id }, null)</td>
		</tr>
	}
</table>
