@using SecureFrameworkDemo.Models;
@model List<SecureFeatureOrderViewModel>
@{
	ViewBag.Title = "Order List - Secure Feature";
}

@Html.Partial("_IntraDemoNav", "OrderList")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>Uses [Authorize] to prevent anonymous access</li>
			<li>Controller manually filters the list of orders (<i>users without <b>ManageOrders</b> permission only see their own data</i>)</li>
			<li>View model manually masks the SSN (<i>unless you have the <b>ViewSSN</b> permission</i>)</li>
		</ul>
	</div>
</div>

<table class="table">
	<tr>
		<td>Id</td>
		<td>Placed On</td>
		<td>Customer</td>
		<td>Customer SSN</td>
		<td></td>
	</tr>
	@foreach (var order in Model) {
		<tr>
			<td>@order.Id</td>
			<td>@order.PlacedOn</td>
			<td>@order.UserName</td>
			<td>@order.SSN</td>
			<td>@Html.ActionLink("View Details", "OrderDetail", "SecureFeature", new { id = order.Id }, null)</td>
		</tr>
	}
</table>
