@using SecureFrameworkDemo.Models;
@model InsecureOrderViewModel
@{
    ViewBag.Title = "Order Details - Insecure";
}

@Html.Partial("_IntraDemoNav", "OrderDetail")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>Is available anonymously</li>
			<li>Does not prevent USER1 from seeing USER2's data</li>
			<li>Does not restrict access to the SSN</li>
		</ul>
	</div>
</div>

<table>
	<tr>
		<td>Order Id:</td>
		<td>@Model.Id</td>
	</tr>
	<tr>
		<td>Customer:</td>
		<td>@Model.UserName (@Model.SSN)</td>
	</tr>
</table>

<h3>Standard Form Post</h3>
<p>
	Click this button to initiate a form post. (For testing CSRF stuff)
</p>
<form action="@Url.Action("ModifyOrder", "Insecure")" method="post">
	<input type="hidden" name="id" value="@Model.Id" />
	<input type="submit" value="Submit Form" />
</form>
