@using SecureFrameworkDemo.Models;
@model List<InsecureOrderViewModel>
@{
	ViewBag.Title = "Order List - Insecure";
}

@Html.Partial("_IntraDemoNav", "OrderList")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>Is available anonymously</li>
			<li>Shows the entire order list to all users</li>
			<li>Does not restrict access to the SSN</li>
		</ul>
	</div>
</div>

<table class="table">
	<tr>
		<td>Id</td>
		<td>Placed On</td>
		<td>Customer</td>
		<td>Customer SSN</td>
		<td></td>
	</tr>
	@foreach (var order in Model) {
		<tr>
			<td>@order.Id</td>
			<td>@order.PlacedOn</td>
			<td>@order.UserName</td>
			<td>@order.SSN</td>
			<td>@Html.ActionLink("View Details", "OrderDetail", "Insecure", new { id = order.Id }, null)</td>
		</tr>
	}
</table>
