@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secure Framework Demo</h1>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Insecure Demo</h2>
		<p>
			View a simple use case with no security at all. See the <b>InsecureController</b> and its related views.
		</p>
		<p>
			<a class="btn btn-default" href="@Url.Action("Index", "Insecure")">More Info &raquo;</a>
			<a class="btn btn-default" href="@Url.Action("OrderList", "Insecure")">Begin Demo &raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Secure Features</h2>
		<p>
			View the sample use case using "secure features", where each feature handles security concepts with app code.
			See the <b>SecureFeatureController</b> and its related views.
		</p>
		<p>
			<a class="btn btn-default" href="@Url.Action("Index", "SecureFeature")">More Info &raquo;</a>
			<a class="btn btn-default" href="@Url.Action("OrderList", "SecureFeature")">Begin Demo &raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Secure Framework</h2>
		<p>
			View the sample use case using a "secure framework", where the security concerns are handled in framework code
			and not app code. See the <b>SecureFrameworkController</b> and its related views.
		</p>
		<p>
			<a class="btn btn-default" href="@Url.Action("Index", "SecureFramework")">More Info &raquo;</a>
			<a class="btn btn-default" href="@Url.Action("OrderList", "SecureFramework")">Begin Demo &raquo;</a>
		</p>
	</div>
</div>
