@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Build Secure Systems - Demo</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Row Level Security</h2>
        <p>
			The @Html.ActionLink("Orders List", "List", "Orders") will only show you your own orders, unless you
			have permissions to see them all.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("List", "Orders")">Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
		<h2>Perm Check w/ Attribute</h2>
		<p>
			The @Html.ActionLink("Manage Products", "Products", "Manage") page requires that you have the "Manage Products" 
			permission to access it. (Only the admin account does)
		</p>
		<p><a class="btn btn-default" href="@Url.Action("Manage", "Products")">Demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Masked Values</h2>
		<p>
			The @Html.ActionLink("Manage Users", "Users", "List") area requires a permission or else SSN values are 
			automatically masked when displayed.
		</p>
		<p><a class="btn btn-default" href="@Url.Action("List", "Users")">Demo &raquo;</a></p>
    </div>
</div>